*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 10px;  root font size */
  font-size: 62.5%; /* 10/16 = 62.5 % This defines what what 1rem is */
}

body {
  box-sizing: border-box;
}
